<head>
    <link href="{{URL}}/resources/css/dashboard.css" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-md bg-darkblue">
  <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-end p-4">
        <div class="row">
            <div class="col">
                <div class="notification-box d-flex justify-content-center">
                    <i class="fa-regular fa-bell notification-icon"></i>
                </div>
            </div>
            <div class="col">
                <span class="text-white fs-5">Gabriel Pierrout</span>
                <span class="text-white fs-6">Perfil: Veterinário</span>
            </div>
        </div>
      </div>
  </div>
</nav>