<div class="dashboard-content px-3 pt-4">
    <div class="row mx-2">
        <div class="col-8">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="title-cards">Lista de Animais</h4>
                    
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Espécie</th>
                                <th scope="col">Idade (anos)</th>
                                <th scope="col">Sexo</th>
                                <th scope="col">Data de Nascimento</th>
                                <th scope="col">Tutor</th>
                                <th scope="col">Data de Cadastro</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tom</td>
                                <td>Felino</td>
                                <td>6</td>
                                <td>Macho</td>
                                <td>01/06/2020</td>
                                <td>Gabriel</td>
                                <td>18/04/2024</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Tom</td>
                                <td>Felino</td>
                                <td>6</td>
                                <td>Macho</td>
                                <td>01/06/2020</td>
                                <td>Gabriel</td>
                                <td>18/04/2024</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Tom</td>
                                <td>Felino</td>
                                <td>6</td>
                                <td>Macho</td>
                                <td>01/06/2020</td>
                                <td>Gabriel</td>
                                <td>18/04/2024</td>
                                <td>...</td>
                            </tr>
                            </tbody>
                        </table>

                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="title-cards">Resumo</h4>
                    col-sm-8
                </div>
            </div>
        </div>
    </div>
</div>