<div class="main-container d-flex">
    <div class="sidebar" id="side-nav">
        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-center align-items-center">
            <h1 class="fs-2"><span class="site-title"><i class="fa-solid fa-paw"></i> Pet System</span></h1>
        </div>
        <ul class="list-unstyled">
            <li class="menu-title"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-house"></i>
                    Painel</a></li>
            <li class="menu-title"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-user"></i>
                    Clientes</a></li>
            <li class="menu-title"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-paw"></i>
                    Animais</a></li>
            <li class="menu-title"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-box"></i>
                    Estoque</a></li>
        </ul>
    </div>
</div>